fastapi
uvicorn[standard]
mongoengine
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
APScheduler
httpx
python-multipart
langdetect
google-cloud-translate
google-cloud-texttospeech
google-cloud-vision
PySocks
colorama
python-dotenv
openai
slowapi
limits