LN_APP_NAME={{APP_NAME}}
LN_mongodb_url="mongodb://localhost:27017/{{APP_NAME}}"
LN_cftoken=your-cloudflare-turnstile-key
LN_cftoken_enable=0
LN_cftoken_url=https://challenges.cloudflare.com/turnstile/v0/siteverify
LN_secret_key={{SECRET_KEY}}
LN_signup_secret={{SIGNUP_SECRET_KEY}}
LN_token_algorithm=HS256
LN_token_expire_days=15
LN_app_data_path={{APP_DATA_PATH}}
LN_static_path={{STATIC_PATH}}
LN_google_search_id=google_search_id
LN_google_search_key=google_search_key