[Unit]
Description=FaskAPI instance to serve Lexi Navigator app
After=network.target

[Service]
User={{USER}}
Group={{GROUP}}
WorkingDirectory={{WORKING_DIR}}
Environment="PATH={{ENV_BIN_DIR}}"
ExecStart={{RUN_SCRIPT}}
Restart=always

{{OPTIONS}}

[Install]
WantedBy=multi-user.target